* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

:root {
  --color-brand-1: #ae4744;
  --color-brand-2: #36b2e6;
  --color-scroll-1: #16103a;
  --color-button-1: #2f55cc;
  --color-grey-0: #000;
  --color-grey-1: #33363a;
  --color-grey-2: #aeb1b6;
  --color-grey-3: #ffffff;
  --color-letter: #ffffff;
}

.sppining {
  animation: spinner 3s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
